body {
  position: relative;
  background-color: grey;
}
main {
  display: inline-block;;
  position: relative;
  color: white;
  text-align: center;
  width: 100%;
  height: 670px;
  background-color: lightblue;
}
main h1 {
  font-size: 50px;
  font-family: Verdana, sans-serif;;
}
main p {
  font-family: 'Open Sans Condensed', sans-serif;
}
.proj {
  background-color: lightgreen;
  height: 100%;
  width: 100%;
}
.proj article {
  text-align: center;
  margin: auto;
  color: white;
  padding: 10px;
  width: 60%;
  height: 650px;
}
.article {
  background-color: yellow;
  width: 100%;
}
.about article{
  text-align: center;
  margin: auto;
  color: white;
  padding: 10px;
  width: 60%;
  height: 650px;
}
